<mat-accordion>
  <mat-expansion-panel class="sidenav-profile" [expanded]="false" hideToggle="true">
    <mat-expansion-panel-header>
      <div class="photo-container">
        <app-user-photo></app-user-photo>
        <span class="name">{{userFullName}}</span>
      </div>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a routerLink="/home/user-profile" mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        Mi perfil
      </a>
      <a (click)="logout()" mat-list-item>
        <mat-icon matListIcon>power_settings_new</mat-icon>
        Cerrar sesión
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
