<div class="container">
  <mat-card>
    <mat-card-title>
      <h5>
        Listado de propietarios
      </h5>

      <button
        mat-button
        class="green-btn create-btn"
        (click)="create()">
        Nuevo propietario
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-table [dataSource]="data" matSort matSortDirection="asc">
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef>
            Nombre
            <mat-form-field class="header-filter">
              <input
                [formControl]="firstNameFilterControl"
                matInput
                placeholder="Filtrar"
              />
              <button
                mat-button
                *ngIf="isClearIconVisible(firstNameFilterControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputValue(firstNameFilterControl)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let owner">{{ owner.firstName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef>
            Apellido
            <mat-form-field class="header-filter">
              <input
                [formControl]="lastNameFilterControl"
                matInput
                placeholder="Filtrar"
              />
              <button
                mat-button
                *ngIf="isClearIconVisible(lastNameFilterControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputValue(lastNameFilterControl)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let owner">{{ owner.lastName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cuil">
          <mat-header-cell *matHeaderCellDef>
            CUIL
            <mat-form-field class="header-filter">
              <input
                [formControl]="cuilFilterControl"
                matInput
                placeholder="Filtrar"
              />
              <button
                mat-button
                *ngIf="isClearIconVisible(cuilFilterControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputValue(cuilFilterControl)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let owner">{{ owner.cuil }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>
            Correo electrónico
            <mat-form-field class="header-filter">
              <input
                [formControl]="emailFilterControl"
                matInput
                placeholder="Filtrar"
              />
              <button
                mat-button
                *ngIf="isClearIconVisible(emailFilterControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputValue(emailFilterControl)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let owner">{{ owner.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="shovelCost">
          <mat-header-cell *matHeaderCellDef>
            Tiene pala
          </mat-header-cell>
          <mat-cell *matCellDef="let owner">{{ showShovelText(owner.shovelCost) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let owner" class="actions-cell">
            <button
              mat-mini-fab
              (click)="gotoDetail(owner)"
              matTooltip="Ver detalle"
              matTooltipPosition="above"
              class="green-btn"
            >
              <i class="icon material-icons">edit</i>
            </button>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div *ngIf="resultsLength === 0" id="noResults" class="no-results">
        No se encontraron propietarios
      </div>
      <mat-paginator
        #paginator
        [length]="resultsLength"
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
      >
      </mat-paginator>

    </mat-card-content>
  </mat-card>

</div>
