<div class="container">
  <form novalidate [formGroup]="truckForm" (ngSubmit)="saveData()" fxFlex="80">
  <mat-card>
    <mat-card-title>
      <h5>
        {{ isEdition() ? "Editar camión" : "Nuevo camión" }}
      </h5>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayoutAlign="strech" fxLayout="column">

        <div fxLayout="row wrap">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.name)">
              {{ error }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field appearance="outline" fxFlex="50" class="padding-right">
            <mat-label>Dominio</mat-label>
            <input matInput formControlName="domain">
            <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.domain)">
              {{ error }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Año</mat-label>
            <input matInput formControlName="year">
            <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.year)">
              {{ error }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field appearance="outline" fxFlex="50" class="padding-right">
            <mat-label>
              Marca
            </mat-label>
            <mat-select formControlName="brand" [compareWith]="compareModel">
              <mat-option>Seleccione una marca</mat-option>
              <mat-option *ngFor="let brandTmp of brandsAsync | async" [value]="brandTmp">
                {{brandTmp.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>
              Modelo
            </mat-label>
            <mat-select formControlName="model" [compareWith]="compareModel">
              <mat-option>Seleccione un modelo</mat-option>
              <mat-option *ngFor="let modelTmp of modelsAsync | async" [value]="modelTmp">
                {{modelTmp.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.model)">
            {{ error }}
          </mat-error>
        </div>

        <div fxLayout="row" formGroupName="owner">
          <mat-card fxFlex="100">
            <mat-card-title>
              <h5>
                <span>Propietario del camión</span>
              </h5>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content fxLayout="column">
              <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label>Buscar por CUIL / CUIT</mat-label>
                  <input matInput [formControl]="cuilSearchControl" [matAutocomplete]="ownersAutocomplete">
                  <mat-hint>
                    Buscar datos del propietario en el sistema
                  </mat-hint>
                  <mat-autocomplete #ownersAutocomplete="matAutocomplete" [displayWith]="displayFnOwner" (optionSelected)="findOwnerById($event)">
                    <mat-option *ngIf="isLoading">
                      <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                      <mat-option *ngFor="let owner of filteredOwners" [value]="owner">
                        {{ displayFnOwner(owner) }}
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex="50" class="padding-right">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="firstName" readonly="true">
                  <mat-hint>
                    Sólo lectura
                  </mat-hint>
                  <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.owner.get('lastName'))">
                    {{ error }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="lastName" readonly="true">
                  <mat-hint>
                    Sólo lectura
                  </mat-hint>
                  <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.owner.get('lastName'))">
                    {{ error }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex="50" class="padding-right">
                  <mat-label>Email</mat-label>
                  <mat-hint>
                    Sólo lectura
                  </mat-hint>
                  <input matInput formControlName="email" readonly="true">
                  <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.owner.get('email'))">
                    {{ error }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-label>CUIL / CUIT</mat-label>
                  <mat-hint>
                    Sólo lectura
                  </mat-hint>
                  <input matInput mask="00-00000000-0" formControlName="cuil" readonly="true">
                  <mat-error *ngFor="let error  of validation.errorMessages(truckForm.controls.owner.get('cuil'))">
                    {{ error }}
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" fxFill class="pt-30">
          <button fxFlex="15" type="submit" mat-raised-button [disabled]="truckForm.invalid" class="dark-green-btn">
            <mat-icon>send</mat-icon>
            <span class="ui-button-text ui-c">Guardar</span>
          </button>

          <button fxFlex="15" mat-raised-button (click)="goBack()">
            Cancelar
          </button>
        </div>
    </mat-card-content>
  </mat-card>
</form>
</div>
