.container{
  padding: 5px 40px!important;
}

.profile-circle-img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.16);
  position: relative;
}

mat-spinner{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.container{
  position: relative;
}
