.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  border: none;
  box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.64);
}

.sidenav .mat-toolbar {

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.fiscalia-title {
  color: #eeeeee;
  background: #37474F;
  display: inline-block;
  margin: 0;
  padding-top: 10px;
}

.fiscalia-title h2 {
  font-size: 0.9em;
  line-height: 0.9em;
}

.fiscalia-title h3 {
  color: #a7a7a7;
  font-size: 0.8em;
}
.fiscalia-title h2, .fiscalia-title h3 {
  font-family: 'Helvetica Neue', 'Roboto', 'sans-serif';
  font-weight: 700 !important;
  margin: auto;
}

.toolbar-button{
  height: 60px;
  width: 60px;

  mat-icon{
    font-size: 30px;
    margin-left: -5px;
  }

}



mat-sidenav > div{
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
  }

}

/**
* Notifications
*/
.item-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.date {
  margin: 0;
  font-size: 0.60em;
  color: rgba(0, 0, 0, 0.54);
}

mat-card.item-card.mat-card {
  padding: 5px;
  border-radius: 0;
  border: 0;
  font-size: unset;
}

.mat-card-header{
  .mat-card-title{
    font-size: 0.9em;
    font-weight: normal;
  }
}

.notification-title.mat-card-title{
  margin-bottom: 8px !important;
}

.notification-subtitle {
  margin-bottom: 0;
}

.notification-item {
  padding: 15px 0 0 5px;
  width: auto;
  height: auto;
  i{
    font-size: 1.2em;
    color: grey !important;
  }
}
