<div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center start">

  <mat-card>
    <mat-card-title>
      Listado de usuarios
    </mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="data" matSort matSortDirection="asc">
        <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef>Apellido
            <mat-form-field class="header-filter">
              <input
                [formControl]="lastNameFilterControl"
                matInput
                placeholder="Filtrar"
              />
              <button
                mat-button
                *ngIf="isClearIconVisible(lastNameFilterControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInputValue(lastNameFilterControl)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.lastName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.firstName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Correo electrónico</mat-header-cell>
          <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="activado">
          <mat-header-cell *matHeaderCellDef>Activado</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-checkbox
              [(ngModel)]="user.enabled"
              name="'{{ user.id }}'"
              (click)="updateUser(user, checked)"
              [disabled]="user.id === userLogged.id"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div *ngIf="resultsLength === 0" id="noResults">
        No se encontraron usuarios
      </div>
      <mat-paginator
        #paginator
        [length]="resultsLength"
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="5"
      >
      </mat-paginator>

    </mat-card-content>
  </mat-card>

</div>

