.container{
  padding: 20px 20px 0;
}

mat-form-field{
  display: block !important;
  max-width: 200px;
}

mat-card-actions{
  margin-bottom: 5px;
  padding: 0;
  margin-right: 15px;
}

p.password-error{
  margin-left: 15px;
  transition: opacity 0.3s linear;
}

.default-password-msg{
  margin: 15px 0;
  font-size: 16px;
  padding-bottom: 10px;
}
