<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="container" *ngIf="!loading">
  <mat-card>
    <mat-card-title>
      <h5 class="bold">Cambiar contraseña</h5>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxFill>
      <form autocomplete="off" class="section" [formGroup]="passwordFormGroup" fxLayout="row wrap">
        <p class="default-password-msg" fxFill *ngIf="changeDefaultPassword">
          Cambiar contraseña por defecto
        </p>
        <mat-form-field appearance="outline" fxFlex="55" class="control" *ngIf="!changeDefaultPassword">
          <mat-label>
            Contraseña actual
          </mat-label>
          <input autocomplete="off" type="password" matInput formControlName="old">
          <mat-error *ngFor="let error  of validation.errorMessages(passwordFormGroup.controls.old)">
            {{ error }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="margin-bottom: 20px" fxFlex="55" appearance="outline" class="control">
          <mat-label>
            Contraseña nueva
          </mat-label>
          <input autocomplete="off" type="password" matInput formControlName="newPass">
          <mat-hint>Mínimo 6 caracteres</mat-hint>
          <mat-error *ngFor="let error  of validation.errorMessages(passwordFormGroup.controls.newPass)">
            {{ error }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="55" class="control">
          <mat-label>
            Repita la contraseña nueva
          </mat-label>
          <input autocomplete="off" type="password" matInput formControlName="repeatNewPass">
          <mat-error *ngFor="let error  of validation.errorMessages(passwordFormGroup.controls.repeatNewPass)">
            {{ error }}
          </mat-error>
        </mat-form-field>
        <p class="error-text password-error"
           [style.opacity]="shouldShowPasswordsDontMatch() ? 1 : 0">
          Las contraseñas no coinciden
        </p>

        <mat-card-actions fxFill fxLayoutAlign="end center">
          <button mat-button type="submit" class="dark-green-text"
                  [disabled]="passwordFormGroup && passwordFormGroup.invalid"
                  (click)="onUpdatePassword()">Actualizar contraseña
          </button>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>
</div>

