@import '~@angular/material/theming';
@import 'fiscalia-theme';
@include mat-core();

$primary: mat-palette($mat-blue-grey);
$primary-dark: mat-color($mat-blue-grey, 700);
$accent: mat-palette($mat-light-green);

$fiscalia-theme: mat-light-theme($primary, $accent);


@include angular-material-theme($fiscalia-theme);
