.buttons {
  padding-top: 20px;
}

.actions-cell {
  justify-content: center;

  button {
    margin: 0 5px;
  }
}

.create-btn {
  float: right;
  position: relative;
  bottom: 34px;
}

table {
  width: 100%;
}
